{% extends 'portfolio/base.html' %}


{% block content %}
<div class="row justify-content-center">

    <h1>Dyha portfolio</h1>
</div>
    {% load static %}

    

    <br>
    <div class="row justify-content-center">

    <img src="{% static 'portfolio/photo_2020-11-25_09-25-55.jpg' %}" height=400>
    </div>
    {% for project in projects %}
    <br>
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>

    <div class="row justify-content-center">
    <img src="{{ project.image.url }}" height=100>
    </div>

    <div class="row justify-content-center">
    {% if project.url %}
    <br><a href="{{ project.url }}">{{ project.title }}</a>
    {% endif %}
    </div>


    {% endfor %}

{% endblock %}

